DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_MEDIA_ROOT=/home/rodrigo/Projetos/sistema_vetorial/private_media
FILE_RETENTION_DAYS=7
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_TASK_ALWAYS_EAGER=0
